name: Node.js CI

on:
  push:
    paths-ignore: ['LICENSE', 'example/**', '**.md', '.*']
  pull_request:
    paths-ignore: ['LICENSE', 'example/**', '**.md', '.*']

jobs:
  build:
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm install # npm ci
      - run: npm run build --if-present
      - run: npm test
